.banner{
    width: 100%;
    height: 100vh;
    background: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.backPage{
    position: absolute;
    top: 3%;
    left: 7%;
}

.bookRoom_bookingRoom{
    position: relative;
    top: 70%;
}

.backgroundImage_other {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 75%;
}

.backgroundImage_other_button {
    width: 12px;
    height: 12px;
    border: 1px solid #263008;
    border-radius: 50%;
    margin: 5px;
}

.backgroundImage_other_button {
    &:hover {
        cursor: pointer;
    }
}

.backgroundImage_other_button {
    &.active {
        background-color: #263008;
    }
}