h1{
    width: 500px;
    display: flex;
    font-size: 28px;
    margin-bottom: 3rem;
    margin-top: 0;
}

span{
    font-size: .875rem;
    position: absolute;
    top: 36px;
    right: 10%;
}

.roomData_text1{
    font-size: .875rem;
    text-align: left;
    margin-bottom: 2.5rem;
}

.roomData_text2{
    font-size: .875rem;
    text-align: left;
    margin-bottom: 3.5rem;
}

.roomData_icons{
    display: flex;
    flex-wrap: wrap;
}

.roomData_icons_box{
    display: flex;
    margin-right: 5rem;
    margin-bottom: 3rem;
}

.roomData_icons_box_own{
    width: 20px;
    height: 20px;
}

.roomData_monthly{
    display: flex;
    flex-direction: column;
    position: relative;
}

.roomData_monthly_title{
    font-size: .875rem;
    text-align: left;
}

.roomData_monthly_date{
    position: absolute;
    top: 50px;
    left: 0;
}